
<div class="search">
    <input type="text" [(ngModel)]="searchText">
    <button
        (click)="onSearch(searchText)"
    >Submit</button>
    <br>
    <br>
</div>

<nav class="nav">
    <button class="btn btn--"
        (click)="onTextUpdate(1)" 
        [ngClass]="{active: isHomeActive === true}"
    >Home</button>

    <button class="btn btn--"
        (click)="onTextUpdate(2)" 
        [ngClass]="{active: isAboutActive === true}" 
    >About</button>
    

    <button class="btn btn--"
        (click)="onTextUpdate(3)" 
        [ngClass]="{active: isContactActive === true}"
    >Contact</button>

    <button class="btn btn--"
            (click)="onTextUpdate(4)" 
            [ngClass]="{active: isToursActive === true}"
        >Tours</button>

    
</nav> 

<app-home
    *ngIf="isHomeActive"
         
></app-home>

<app-tours 
    *ngIf="isToursActive"
></app-tours>

<app-about
    *ngIf="isAboutActive"
></app-about>

<app-contact
    *ngIf="isContactActive"
></app-contact>



